$color-black: #27272A;
$color-grayb: #52525B;
$color-gray: #A1A1AA;
$color-w: #FFFFFF;
$color-b: #34D399;
$color-g: rgba(128, 128, 128, 10.64);

.global {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: $color-w;
    word-wrap: break-word;
    
    .video-container {
        z-index: 9999;
        background-color: #FFFFFF ; // Fond de couleur pendant la vidéo
        position: fixed; /* S'assurer que la vidéo couvre toute la page */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .animation-video {
            position: relative;
            height: 24%;  
            object-fit: cover;
        }
    }

     // Cacher le contenu principal pendant la vidéo
     .content {
        display: none;
    }

    // Afficher le contenu principal après la vidéo
    .show-content .content {
        display: block;
    }

    .global {
      display: none;
    }
    
    .global:not(.video-container) {
      display: block;
    }
    

    main{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        h2{
            color: $color-w;
            text-align: center;
            font-size: 2.5rem;
            line-height: 3.875rem;
            font-weight: 700;
            margin-top: 4rem;
        }

    }

    section{
        background-color: $color-g;
        height: 24rem;
        width: 100%;
        margin-top: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 28rem;
            width: 88%;
        }
    }

    button{
        margin-top: 7rem;
        position: relative;
        bottom: 1.25rem;
    }

    article{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 2.75rem;
        background-color: $color-b;
        width: 100%;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
        margin-top: 1.0rem;
        
        h3{
            font-size: 3rem;
            font-weight: 700;
        }

        p{
            font-size: 1.5rem;
            font-weight: 400;
        }

    }

    .section_add_area{
        background-color: $color-black;
        font-weight: 800;
        margin-top: auto;
        margin-top: auto;
        display: flex;
        flex-direction: column;

        .typo_area{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.75rem;
            margin-top: 3.5rem;
            padding-left: 1.25rem;
        }
        .typo_area_1{
            font-size: 1.25rem;
        }
        .typo_area_2{
            font-size: 0.875rem;
            font-weight: 700;
            width: 16rem;
        }
        .color1{
            color: $color-grayb;
        }
        .color2{
            color: $color-gray;
        }
        .color3{
            color: $color-b;
        }

        button{
            position: relative;
            bottom: 50px;
            left: 1.25rem;
            background-color: $color-w;
            color: $color-black;
            width: 162px;
            height: 41px;
            font-weight: 700;
            border-radius: 0.375rem;
        }
    }

        
        
        //Version PC_Portable
        @media screen and (min-width: 1024px) {
            article{
            display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                gap: 2.75rem;
                height: 256px;
            }
       .section_add_area {
           display: flex;
           background-color: #27272A;
           font-weight: 800;
           margin-top: auto;
           flex-direction: row;
           align-items: center;
           gap: 4rem;
           margin-left: 0rem;
        }
        .typo_area{
            margin-left: 2.5rem;

        }
    }
}
