$color-b: #34D399;
$color-w: #FFFFFF;
$color-g: rgba(128, 128, 128, 0.64);

.global {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    height: 100vh;
    background-color: #27272A;

    
    h1 {
        color: $color-w;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
        margin-top: 3.5rem;
    }

    span {
        color: $color-b;
    }

    .link {
        margin-top: 2rem;
        display: flex;
        gap: 1.75rem;
        a {
            color: $color-g;
            text-decoration: none;
            font-weight: 500;
        }
    }

    .social{
        display: flex;
        margin-top: 1rem;
        gap: 1.75rem;
    }

    main{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        h2{
            color: $color-w;
            font-size: 2.25rem;
            line-height: 1.875rem;
            font-weight: 700;
            margin-top: 3.5rem;
            width: 75%;
        }
    }
}
