$color-black: #27272A;
$color-grayb: #52525B;
$color-gray: #A1A1AA;
$color-w: #FFFFFF;
$color-b: #34D399;
$color-g: rgba(128, 128, 128, 10.64);

.global {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: $color-w;
    height: 136vh;
    background-color: #27272A;
    word-wrap: break-word;

    
    h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
        margin-top: 3.5rem;
    }

    span {
        color: $color-b;
    }

    .link {
        margin-top: 1.75rem;
        display: flex;
        gap: 1.75rem;
        a {
            color: $color-gray;
            text-decoration: none;
            font-weight: bold;
        }
    }

    .social{
        display: flex;
        margin-top: 3rem;
        gap: 1.75rem;
    }

    main{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        h2{
            color: $color-w;
            text-align: center;
            font-size: 2.5rem;
            line-height: 3.875rem;
            font-weight: 700;
            margin-top: 8rem;
        }

    }

    section{
        background-color: $color-g;
        height: 24rem;
        width: 100%;
        margin-top: 8rem;

        img {
            height: 28rem;
            width: 80%;
            position: relative;
            bottom: 1rem;
            left: 2.50rem;
        }
    }

    button{
        margin-top: 7rem;
        position: relative;
        bottom: 1.25rem;
    }

    article{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 2.75rem;
        background-color: $color-b;
        width: 100%;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
        margin-top: 1.0rem;
        
        h3{
            font-size: 3.75rem;
            font-weight: 700;
        }

        p{
            font-size: 1.5rem;
            font-weight: 400;
        }

    }

    .section_add_area{
        background-color: $color-black;
        font-weight: 800;
        margin-top: auto;

        .typo_area{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.75rem;
            margin-top: 3.5rem;
            padding-left: 1.25rem;
        }
        .typo_area_1{
            font-size: 1.25rem;
        }
        .typo_area_2{
            font-size: 0.875rem;
            font-weight: 700;
            width: 16rem;
        }
        .color1{
            color: $color-grayb;
        }
        .color2{
            color: $color-gray;
        }
        .color3{
            color: $color-b;
        }

        button{
            position: relative;
            bottom: 50px;
            left: 1.25rem;
            background-color: #FFFFFF;
            color: $color-black;
            width: 162px;
            height: 41px;
            font-weight: 700;
            border-radius: 0.375rem;
        }
    }
    
}
