.header {
    width: 100%;
    padding: 1.5rem;
    background-color: transparent;
    position: relative;
    z-index: 10;
    box-shadow: rgba(53, 212, 155, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1rem;
  
      .logo {
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        color: white;
        text-decoration: none;
        
        .logo-y {
          color: #22c55e;
        }
      }
  
      .nav-links {
        display: flex;
        gap: 2rem;
        
        a {
          color: white;
          text-decoration: none;
          font-weight: 500;
          position: relative;
          transition: color 0.3s;
  
          &:hover {
            color: #22c55e;
          }
  
          &.active {
            color: #22c55e;
          }
        }
      }
    }
  }