@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Palanquin&family=Passion+One:wght@500&display=swap');
.header_page_soon{

    .alter_not_valid{
        margin: auto;
        height: auto;
        width: 45%;
    }

    p{
        font-family: 'Palanquin', sans-serif;
        color: #e4e4e7;
        margin-top: 70%; 
    }
}

//Version tablet
@media screen and (max-width: 1023px) and (min-width: 768px) {
}

//Version PC
@media screen and (min-width: 1024px) {
   
  }