.header_page_soon{

    .alter_not_valid{
        margin: auto;
        height: auto;
        width: 45%;
    }
}

//Version tablet
@media screen and (max-width: 1023px) and (min-width: 768px) {
}

//Version PC_Portable
@media screen and (min-width: 1024px) {

}

//Version PC
@media screen and (min-width: 1024px) {
   
  }